/* Variables of colors */
:root {
  --blue-light: #10769E;
  --magenta-light: #EB1741;
  --blue-foo: #01A8EB;
  --yellow: #EBDF17;
}

#Body {
  width: 100%;
}


/* ============= */
/* Cover section */
/* ============= */

#Body .cover {
  background-color: black;

  display: flex;
  justify-content: center;

  position: relative;
  top: 0;

  z-index: 1;

  height: 100vh;
  width: 100%;
}

#Body .cover .Me {
  position: relative;

  margin: auto;
  margin-bottom: 0;

  width: 50%;
  height: 90%;

  max-width: 900px;

  background-image: url('../images/Jonatan\ small.png');
  background-position: bottom;
  background-size: 70%;
  background-repeat: no-repeat;

  transition: 0.4s;
}
@media screen and (max-height: 850px) {
  #Body .cover .Me {background-size: 60%;}
}
@media screen and (max-height: 660px) {
  #Body .cover .Me {background-size: 50%;}
}
@media screen and (max-height: 460px) {
  #Body .cover .Me {background-size: 30%;}
}

#Body .cover .title {
  color: #CCC;

  width: 40%;
  height: 100vh;

  margin: auto;

  display: flex;
  justify-content: center;
  flex-flow: column;
}

#Body .cover .title .myself {
  font-size: 3.5em;
  font-weight: 500;

  width: 100%;
}

#Body .cover .title .slogan {
  width: 90%;

  margin-top: 0px;

  font-size: 1.7em;
  font-weight: 100;
}

#Body .cover a {
  display: flex;
  align-items: center;
  flex-flow: column;

  position: absolute;
  bottom: 0;
}

#Body .cover .arrowD {
  width: 60px;
  height: 60px;

  margin: auto;

  display: flex;
  align-items: center;
  flex-flow: column;

  position: absolute;
  bottom: 0;
}

#Body .cover .arrowD p {
  position: absolute;
  top: 0;

  margin: 0;
  margin-top: 5px;

  color: var(--magenta-light);
}

#Body .cover .arrowD span {
  position: absolute;
  bottom: 0;

  width: 3px;
  height: 35px;

  background-color: var(--magenta-light);
}


/* ============= */
/* About section */
/* ============= */

#Body .about {
  width: 100%;
  height: 100vh;

  position: relative;

  margin: auto;

  display: flex;
}

#Body .about .UXimage {
  z-index: -1;
  width: 30%;
  height: 35%;
  min-width: 450px;
  min-height: 300px;
  max-height: 800px;

  margin: auto;
  margin-right: 40px;

  background-image: url('../images/UX\ white.jpg');
  background-position: right;
  background-repeat: no-repeat;
  background-size: 100%;

  border-radius: 5px;
  box-shadow: 5px 5px 15px #999;
}

#Body .about .container {
  width: 60%;
  height: 80%;

  margin: auto;

  display: flex;
  flex-wrap: wrap;

  color: #444;
}

#Body .about .container h2 {
  font-size: 4em;
  font-weight: 500;

  color: #111;
  margin: 0;
  margin-left: 40px;

  width: 100%;
  height: 60px;
}

#Body .about .container .texts {
  width: 80%;
  height: 60%;
  background-color: rgba(255, 255, 255, 1);

  padding: 5em;

  margin-left: 40px;
  margin-top: 10px;

  border-radius: 5px;
  box-shadow: 5px 5px 15px #999;
}

#Body .about .container .texts .description, .knowMe {
  font-size: 1.2em;
}

#Body .about .container .texts .socialCont {
  width: 20%;
  height: 60px;
  min-width: 300px;

  margin: auto;

  display: flex;
  justify-content: space-between;
}

#Body .about .container .texts .socialCont a {
  margin: auto;
}

#Body .about .container .texts .socialCont a .social {
  width: 60px;
  height: 60px;

  background-color: #FFF;

  border-radius: 50%;

  margin: auto;
} #Body .about .container .texts .socialCont a .social:hover {
  transform: scale(.95);
  box-shadow:  5px 5px 10px #d1d1d1,
             -5px -5px 10px #ffffff;
}

#Body .about .container .texts .socialCont a .twitter {
  background-image: url('../images/twitterIcon.svg');
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
}

#Body .about .container .texts .socialCont a .linkedin {
  background-image: url('../images/linkedinIcon.svg');
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
}

#Body .about .container .texts .resume {
  width: 90px;
  height: 40px;

  outline: none;

  border: none;

  color: white;
  background-color: var(--magenta-light);
  transition: 0.15s;
} #Body .about .container .texts .resume:hover {
  cursor: pointer;
} #Body .about .container .texts .resume:active {
  cursor: pointer;
  transform: scale(.95);
}



/* ================= */
/* Portfolio section */
/* ================= */

#Body .Portfolio {
  width: 100%;
  /* height: 100vh; */

  display: flex;
  flex-wrap: wrap;

  background-color: #FFF;
}

#Body .Portfolio h2 {
  font-size: 4em;
  font-weight: 500;

  color: #111;
  padding-top: 100px;
  padding-left: 110px;
  text-align: left;

  width: 100%;
  height: 80px;
}

#Body .Portfolio .gridPort {
  width: 90%;
  height: 50%;

  display: flex;
  flex-wrap: wrap;

  margin: auto;
}

#Body .Portfolio .gridPort .project {
  display: flex;

  width: 450px;
  height: 250px;

  margin: 10px;

  border-radius: 5px;
  box-shadow: 5px 5px 15px #999;

  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  transition: 0.15s;
} #Body .Portfolio .gridPort .project:hover {
  cursor: pointer;
  background-size: 0%;
  background-color: #111;
}

#Body .Portfolio .gridPort .project p {
  text-align: justify;
  font-size: 16px;
  font-weight: 300;

  width: 90%;
  margin: auto;

  opacity: 0;

  transition: 0.25s;
} #Body .Portfolio .gridPort .project:hover p {
  opacity: 1;
  background-color: #111;
  color: #FFF;
}

#Body .Portfolio .gridPort .simtac {
  background-image: url('../images/Projects/SIM-TAC.jpg');
}
#Body .Portfolio .gridPort .sortingAlgorithms {
  background-image: url('../images/Projects/Sorting\ Algorithms.jpg');
}
#Body .Portfolio .gridPort .APIAdv {
  background-image: url('../images/Projects/API.jpg');
}
#Body .Portfolio .gridPort .TDD {
  background-image: url('../images/Projects/TDD.jpg');
}
#Body .Portfolio .gridPort .TicTacToe {
  background-image: url('../images/Projects/TicTacToe.jpg');
}
#Body .Portfolio .gridPort .Hashing {
  background-image: url('../images/Projects/HashTable.jpg');
}
#Body .Portfolio .gridPort .SearchAlgorithms {
  background-image: url('../images/Projects/SearchAlgorithms.jpg');
}
#Body .Portfolio .gridPort .BinaryTree {
  background-image: url('../images/Projects/BinaryTree.jpg');
}