/* Variables of colors */
:root {
  --middle-blue: #162447;
  --dark-blue: #1b1b2f;
  --light-blue: #1f4068;
  --magenta: #e43f5a;
}

/*
  ========================================
  Body style
  ========================================
*/

/*
  ----------------
  about me section style
  ----------------
*/

body .sect {
  position: relative;
  top: 0px;
  right: 0px;

  min-width: 400px;
  width: 80vw;
  height: 100vh;
}

body .banner {
  background-color: #FFF;

  display: flex;
  justify-content: center;
}

body .banner .collage {
  width: 60%;
  height: 60px;

  background-color: #1fccbe;
  border-radius: 20px;
}

body .banner .collage .img {
  width: 60px;
  height: 60px;

  margin: 20px;
  padding: 0px;

  background-color: #1f4068;
  border-radius: 10px;
}

/*
  ----------------
  experiences section style
  ----------------
*/

body .experiences {
  background-color: rgb(231, 81, 81);
}

/*
  ----------------
  abilities section style
  ----------------
*/

body .abilities {
  background-color: rgb(13, 80, 204);
}

/*
  ----------------
  Projects section style
  ----------------
*/

body .Projects {
  background-color: rgb(204, 13, 118);
}

/*
  ----------------
  contact section style
  ----------------
*/

body .contact {
  background-color: rgb(13, 204, 99);
  height: 618px;
}
