/* Variables of colors */
:root {
    --middle-blue: #162447;
    --dark-blue: #1b1b2f;
    --light-blue: #1f4068;
    --magenta: #e43f5a;
}


/*
  ========================================
  General style
  ========================================
*/

body
{
    z-index: 2;
	color: #484848;
    font-size: 14px;

	font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;

    padding: 0px;
    margin: 0px;
    margin-bottom: 150px;

    background-color: #FFF;
}

/* ================================================*/
/* ================= Scroll BAR ===================*/
/* ================================================*/

body::-webkit-scrollbar
{
    width: 10px;
    background-color: var(--middle-blue);
}

body::-webkit-scrollbar-thumb
{
    border-radius: 3px;
    background-color: var(--light-blue);
}

body::-webkit-scrollbar-thumb:hover
{
    border-radius: 3px;
    background-color: var(--magenta);
}

body::-webkit-scrollbar-thumb:active
{
    background-color: var(--magenta);
}

/* ================================================*/
/* ================== Scroll BAR===================*/
/* ================================================*/
