/* Variables of colors */
:root {
    --blue-light: #10769E;
    --magenta-light: #EB1741;
    --blue-foo: #01A8EB;
    --yellow: #EBDF17;
}


/*
  ========================================
  General style
  ========================================
*/

body
{
	color: #888;
    font-size: 14px;

	font-family: 'Roboto', sans-serif;

    padding: 0px;
    margin: 0px;

    background-color: #FFF;

    transition: .3s;
}

/* ================================================*/
/* ================= Scroll BAR ===================*/
/* ================================================*/

body::-webkit-scrollbar
{
    width: 10px;
    background-color: var(--middle-blue);
}

body::-webkit-scrollbar-thumb
{
    border-radius: 3px;
    background-color: var(--light-blue);
}

body::-webkit-scrollbar-thumb:hover
{
    border-radius: 3px;
    background-color: var(--magenta);
}

body::-webkit-scrollbar-thumb:active
{
    background-color: var(--magenta);
}

/* ================================================*/
/* ================== Scroll BAR===================*/
/* ================================================*/
