/* Variables of colors */
:root {
    --blue-light: #10769E;
    --magenta-light: #EB1741;
    --blue-foo: #01A8EB;
    --yellow: #EBDF17;
}

html {
    scroll-behavior: smooth;
}


/*
  ========================================
  General style
  ========================================
*/

body
{
	color: #888;
    font-size: 14px;

	font-family: 'Roboto', sans-serif;

    padding: 0px;
    margin: 0px;

    background-color: #141414;

    transition: .3s;
}

/* ================================================*/
/* ================= Scroll BAR ===================*/
/* ================================================*/

body::-webkit-scrollbar
{
    width: 7px;
    height: 7px;
    background-color: #000;
}

body::-webkit-scrollbar-thumb
{
    background-color: var(--yellow);
}

body::-webkit-scrollbar-thumb:active
{
    background-color: var(--blue-foo);
}

/* ================================================*/
/* ================== Scroll BAR===================*/
/* ================================================*/
