/*
  ========================================
  Footer style
  ========================================
*/

footer .principal
{
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 40px;
    height: 100px;
    width: 100%;
    background-color: #222222;
    color: #FFFFFF;
}
footer .Second .under_footer
{
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0px;
    height: 40px;
    width: 100%;
    background-color: #000000;
    color: #FFFFFF;
    border: 0px;
    border-top: 1px;
    border-style: solid;
    border-color: #D4145A;
}

.principal .info
{
    padding-left: 20px;
}

.principal .social
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-right: 20px;
    border: 0px;
    border-right: 1px;
    border-style: solid;
    border-color: #FFFFFF;
    opacity: 100%;
}

.principal .social #twitter img
{
    height: 50px;
    width: 50px;
    margin: 10px;
    opacity: 70%;
}
.principal .social #twitter img:hover
{
    height: 50px;
    width: 50px;
    margin: 10px;
    opacity: 100%;
}

.principal .social #github img
{
    height: 50px;
    width: 50px;
    margin: 10px;
    opacity: 70%;
}
.principal .social #github img:hover
{
    height: 50px;
    width: 50px;
    margin: 10px;
    opacity: 100%;
}

.principal .social #linkedin img
{
    height: 50px;
    width: 50px;
    margin: 10px;
    opacity: 70%;
}
.principal .social #linkedin img:hover
{
    height: 50px;
    width: 50px;
    margin: 10px;
    opacity: 100%;
}

.principal .Up
{
    position: absolute;
    top: 32px;
    right: 100px;
    opacity: 70%;
}

.principal .Up:hover
{
    position: absolute;
    top: 33px;
    right: 100px;
    opacity: 100%;
}
