/* Variables of colors */
:root {
  --blue-light: #10769E;
  --magenta-light: #EB1741;
  --blue-foo: #01A8EB;
  --yellow: #EBDF17;
}

header {
  width: 100%;
  height: 70px;

  background-color: black;
}

header ul, li, a {
  text-decoration: none;
  list-style: none;

  color: #EEE;

  font-size: 15px;
  font-weight: 300;
}

header nav ul {
  display: flex;
  flex-flow: column;
}

header .container {
  width: 95%;
  height: 100%;

  margin: auto;

  display: flex;
  flex-flow: row;
}

header .container .logo {
  width: 60px;
  height: 60px;

  margin: auto;
  margin-left: 0;

  background-color: #EB1741;
}

header .container .menu {
  width: 30%;
  max-width: 300px;

  margin: auto;
  margin-right: 0;
}

header .container .menu #hamburger {
  width: 50px;
  height: 50px;

  z-index: 20;

  margin: auto;
  margin-right: 0;

  display: flex;
  flex-flow: column;

} header .container .menu #hamburger:hover {
  cursor: pointer;
}

header .container .menu #hamburger .cont {
  margin: auto;
}

header .container .menu #hamburger span {
  display: block;
  width: 30px;
  height: 3px;

  margin: 5px auto;

  background-color: #FFF;
}

/* The side navigation menu */
header .container .menu .sidenav {
  height: 100%;
  width: 0;

  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;

  background-color: rgba(0, 0, 0, .97);
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.2s;
}

/* The navigation menu links */
header .container .menu .sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;

  font-size: 25px;
  color: #BBB;

  display: block;
  transition: 0.2s;
  background-color: transparent;
} header .container .menu .sidenav a:hover {
  color: #FFF;
}

header .container .menu .sidenav .menulink {
  width: 70%;
  height: 30px;

  margin: 20px;
  border: 0;
} header .container .menu .sidenav .menulink:hover {
  border-bottom: 2px solid var(--blue-foo);
}

/* Position and style the close button (top right corner) */
header .container .menu .sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 15%;
  font-size: 48px;
  margin-left: 50px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
