/* This File is for use responsive design */

@media all and (max-width: 750px) {
  #Body .cover .Me {
    grid-column: 1 / 3;
    grid-row: 2 / 3;

    background-size: 50%;
  }
  #Body .cover .title {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }
}