<!DOCTYPE html>
<html lang="en-US">
  <!-- HEAD -->
<head>
  <meta charset="utf-8">
  <title>Jonatan Mazo</title>
  <link rel="icon" type="image/png" href="images/Logo_32x32.png" sizes="32x32">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="css/Footer.css">
  <link rel="stylesheet" type="text/css" href="css/Header.css">
  <link rel="stylesheet" type="text/css" href="css/Common.css">
  <link rel="stylesheet" type="text/css" href="css/body.css">

  <script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>

  <script src="scripts/menu.js" async></script>
  <script src="scripts/scrolling.js" async></script>
</head>

<body>
  <!-- HEADER-->
  <header>
    <div class="Photo"></div>
    <div class="imgPhoto"></div>
    <div class="Titles">
      <h2>Jonatan Mazo</h2>
      <h1>Full Stack Engimeer</h1>
    </div>
    <div class="top"></div>

    <div id="Menu">
      <ul class="ulMenu">
        <li>
          <a class="btnBanner" @mouseover="banner = true" @mouseleave="banner = false" href="#banner">
            <div class="icon"><div class="imgIcon bannerIcon"></div></div>
            <transition name="fade">
              <ul v-if="banner" @click="banner = true">
                <p>About me</p>
              </ul>
            </transition>
          </a>
        </li>

        <li>
          <a class="btnExperiences" @mouseover="experiences = true" @mouseleave="experiences = false" href="#experiences">
            <div class="icon"><div class="imgIcon experiencesIcon"></div></div>
            <transition name="fade">
              <ul v-if="experiences" @click="experiences = true">
                <p>Experience</p>
              </ul>
            </transition>
          </a>
        </li>

        <li>
          <a class="btnAbilities" @mouseover="abilities = true" @mouseleave="abilities = false" href="#abilities">
            <div class="icon"><div class="imgIcon abilitiesIcon"></div></div>
            <transition name="fade">
              <ul v-if="abilities" @click="abilities = true">
                <p>Skills</p>
              </ul>
            </transition>
          </a>
        </li>

        <li>
          <a class="btnProject" @mouseover="project = true" @mouseleave="project = false" href="#projects">
            <div class="icon"><div class="imgIcon projectIcon"></div></div>
            <transition name="fade">
              <ul v-if="project" @click="project = true">
                <p>Projects</p>
              </ul>
            </transition>
          </a>
        </li>

        <li>
          <a class="btnContact" @mouseover="contact = true" @mouseleave="contact = false" href="#contact">
            <div class="icon"><div class="imgIcon contactIcon"></div></div>
            <transition name="fade">
              <ul v-if="contact" @click="contact = true">
                <p>Contact me</p>
              </ul>
            </transition>
          </a>
        </li>
      </ul>
    </div>
  </header>

  <!-- BANNER ME -->
  <div id="banner" class="sect banner">
    <div class="collage">
      <div class="img Sony"></div>
      <div class="img sonyBtn"></div>
      <div class="img Code"></div>
    </div>
  </div>

  <!-- EXPERIENCES -->
  <div id="experiences" class="sect experiences"></div>

  <!-- ABILITIES -->
  <div id="abilities" class="sect abilities"></div>

  <!-- PROJECTS -->
  <div id="projects" class="sect Projects"></div>

  <!-- CONTACT ME -->
  <div id="contact" class="sect contact"></div>
</body>

  <!-- FOOTER -->
  <footer>
    <div class="social">
      <p>More about me:</p>
      <a class="twitter" href="https://twitter.com/JonatanRMC" target="_blank">
        <div class="btn">
          <div class="img Twitter"></div>
        </div>
      </a>
      <a class="github" href="https://github.com/MAZTRO" target="_blank">
        <div class="btn">
          <div class="img Github"></div>
        </div>
      </a>
      <a class="linkedin" href="https://www.linkedin.com/in/jonatanrmc/" target="_blank">
        <div class="btn">
          <div class="img Linkedin"></div>
        </div>
      </a>
    </div>
    <div class="Sign">
      <p>Jonatan Mazo | Full Stack Engineer <br> © {{ time }}</p>
    </div>
  </footer>
</html>
